.navi{
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    color: rgb(66, 60, 60);
}
.one{
    font-size: 25px;
}
.two{
    display: flex;
    font-size: 17px;
}
.home{
    margin-right: 70px;
}
.about{
    margin-right: 70px;
}
.fea{
    margin-right: 70px;
}
.image1{
    height: 23px;
    width: 23px;
    margin-right: 50px;
}
.image2{
    height: 23px;
    width: 23px;
    }
.grid-container{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    color: rgb(39, 63, 63);
    font-style: italic;
}
.grid-container2{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 400px 400px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.merc{
    height: 100%;
    width: 100%;
}
.grid1{
    height: 300px;
    width: 350px;
    padding-top: 80px;
}
.grid4{
    height: 300px;
    width: 400px;
    padding-top: 70px;
}
.flexbox{
    display: flex;
    margin-top: 100px;
}
.gridcontainer3{
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 400px 400px 400px;
    grid-row-gap: 150px;
    grid-column-gap: 30px;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
}
.size{
    width: 250px;
    height: 350px;
}
.beemer5{
    width: 100%;
    height: 100%;
}
.hhhh{
    text-align: center;
}
.hhhg{
    text-align: center;
    margin-top: -20px;
}
.aaaa,.aaab{
    text-align: center;
}
.aaaa{
    margin-top: -15px;
}
.steve{
    width: 300px;
    height: 400px;
    margin-right: 50px;
}
.steve2{
    width: 100%;
    height: 100%;
}
.white{
    display: flex;
    justify-content: center;
}
.bbbb{
    margin-top: 30px;
}
.bbba,.bbbc{
    margin-top: -10px;
}
.step{
    margin-top: 55px;
}
.cars{
    margin-top: -10px;
}
